/*------------------------------------------------------------------
    File Name: custom.css
-------------------------------------------------------------------*/

/** ADD YOUR AWESOME CODES HERE **/

.choose-us{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-content: center;
    justify-content: center;
}

ul.RHI-testimonial{
    list-style-type: circle;
    
}

.tp-fullwidth-forcer{
    max-height:510px !important;
}

.tp-parallax-wrap{
    top:145px !important;
}

.form-control:disabled {
    color: black !important;
    border-color: black !important;
    text-align: center !important;
    font-size: 40px !important;
    background-image: url(../images/it_service/captcha_background.jpg) !important;
}

#appreciation_section{
    background-color: #f9f9f9;
}

#appreciation_section img{
    width: auto;
}

#appreciation_section img:hover {opacity: 0.7;}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/*Modal image css end*/
@media (min-width: 480px) and (max-width: 767px)  {
    .testimonial-content{
        font-size: .8em;
    }
    
    .tp-fullwidth-forcer{
    height:400px !important;
    }
    .fullwidthbanner-container{
        height:400px !important;
    }
    
    .tp-caption.NotGeneric-Title, .NotGeneric-Title{
        font-size: 40px !important;
    }
    
    .tp-revslider-slidesli, .tp-revslider-mainu{
        min-height: 440px !important;
    }
    
    .tp-revslider-slidesli,
.tp-revslider-mainul	{	
	padding:0 !important; 
	margin:0 !important; 
	list-style:none !important;
    height: 470px !important;
}

}

@media (max-width:574px)  {
    .tp-caption.tp-shape.tp-shapewrapper.rs-parallaxlevel-0 {
        top:-145px !important;
    }
    
    .tp-revslider-mainul {
        height: 450px !important;
    }
    
    .tp-revslider-slidesli,
    .tp-revslider-mainul	{	
        padding:0 !important; 
        margin:0 !important; 
        list-style:none !important;
        max-height: 350px !important;
    }
    
    
}

@media (min-width: 768px){
      .tp-caption.NotGeneric-Title, .NotGeneric-Title{
        font-size: 40px !important;
    }
}

@media (max-width: 320px){
    .padding_layout_1{
        padding-top: 125px;
    }
    
    #testimonial_slider .carousel-indicators{
        margin-bottom: 35%;
    }
    
    .testimonial-content{
        font-size: 0.6em;
    }
}