html{
	scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding:0px;
}


header{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% auto;
	background-color: #2d3436;
	background-image: linear-gradient(215deg, #2d3436 25%, #000000 74%);
	opacity: 0.9;
    
}

.logo{
	margin-left:15%;
	margin-top: -10px;
}

#wrapper{
    background:linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.5)), url(Images/silver-and-black-laptop-computer-1229861.jpg);
    background-repeat: no-repeat;    
    background-size: 100% 100%;
    object-fit: cover;
    max-height: 100%;
    max-width:100%;
	margin-top:-80px;
}



nav{
    margin-left: 0px;
}

nav ul{
    margin: 30px 0px 0px 50px;

}

nav ul li{
    display: inline;
    list-style-type: none;
    padding:20px 20px;

}

nav ul li a{
    text-decoration: none;
    color:white;    
    font-size: 1.10vw;
	font-family: 'Noto Sans';
	
}

nav ul li.active,
nav ul li:hover{
     background-color: #98AD6A;
	 color:white;
}
.menu-toggle{
    display: none;
}

.flex{
    min-height: 600px;
    display: grid;
    align-content:center;
    text-align: center;
}

.flex h1{
    color:white;
    font-family: 'Kanit';
    font-size:65px;
    margin:0;
}

.flex h3{
    color:white;
    margin:0 0 30px 0;
}

.below-content{
   display: grid;
   margin: 0 auto;
    max-width:1200px;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "aboutus aboutus"
        "products products"
        "services services";
}

#aboutus{
    display: grid;
    grid-area: aboutus;
    max-width:100%;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "aboutusimg aboutusdesc";
}

.aboutus-img{
    grid-area: aboutusimg;
}

.aboutus-img>img{
    width: 100%;
    height: 100%;
}

.aboutus-desc{
	
    grid-area: aboutusdesc;
    padding:0 80px 0 30px;
    display: grid;
    align-content: center;
    text-align: justify;
}
.aboutus-desc>h3{
    font-size: 45px;
    padding-bottom: 0;
}

.aboutus-desc>a>input{
    cursor: pointer;
}


#products{
    display: grid;
    grid-area: products;
    max-width:100%;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "productsdesc productsimg";

}

.products-img{
   grid-area: productsimg;
}

.products-img>img{
    width: 100%;
    height: 100%;
}

.products-desc{
    grid-area: productsdesc;
    padding: 0 80px 0 30px;
    display: grid;
    align-content: center;
    text-align: justify;
}
.products-desc>h3{
    font-size: 45px;
}

.products-desc>a>input{
    cursor: pointer;
}

/*-- Services --*/

#services{
    display: grid;
    grid-area: services;
    max-width:100%;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "servicesimg servicesdesc";

}

.services-img{
   grid-area: servicesimg;
}

.services-img>img{
    width: 100%;
    height: 100%;
}

.services-desc{
    grid-area: servicesdesc;
    padding: 0 80px 0 30px;
    display: grid;
    align-content: center;
    text-align: justify;
}
.services-desc>h3{
    font-size: 45px;
}

.services-desc>a>input{
    cursor: pointer;
}

#button{
    width:160px;
    height:40px;
    text-align: center;
    border:none;
    background-color: #0058af;
    color:white;
}

/*---Partners section--
.partners{
    min-height:500px;
    background-color: #d3d3d3;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas: ". partnerdiv partnerdiv partnerdiv partnerdiv .";
}*/

.partnerlogo-wrapper{
    grid-area: partnerdiv;
    width:100%;
    height:100%;  
    background:linear-gradient(rgba(0,0,.5,0.2),rgba(0,0,.5,.5)),url(Images/Partner-Background.jpg);
    background-repeat: no-repeat;    
    background-size: 100% 100%;
    object-fit: cover;
    min-height: 450px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-areas: ". . partnerdiv partnerdiv partnerdiv partnerdiv . .";
    padding-top: 80px;
}

.partnerflex{
    background-color: #7f6b00;
    color:white;
    height:200px;
    display: grid;
    align-content: center;
}

.partnerflex>h1{
    display: grid;
    align-content: center;
    margin:0;
    text-align: center;
    font-size:70px;
}


#partner-div{
    grid-area: partnerdiv;
    position: absolute;
    
}

.partner-box{
    display: grid;
    height:400px;
    max-width: 800px;
    background-color: white;
    align-content: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "partnersimg partnersdesc partnersdesc";
}

.partner-logo{
    grid-area: partnersimg;
    padding:40px 0 0 30px;
}

.partner-logo>img{
    height: 80%;
    width: 80%;
}

.partner-desc{
    grid-area: partnersdesc;
    text-align: justify;
    padding: 30px;
}


.copyright{
    font-family: oxygen;
    font-size:16px; 
    padding:5px 30px;
    text-align: right;
    background-color: black;
    color:white;
    height:80px;
    display: grid;
    align-content: center;
    font-size: 18px;
}

@media only screen and (min-height:10px){
    header{
        position: sticky;
        top:0;
		z-index: 1;
		
    }
    

}


/* tablet view */
@media screen and (max-width:950px){
   .logo{
        grid-column: 1/5;
        text-align: center;
		margin:-25px 0 0 0;
    }
	
    
    
    nav{
        grid-column: 1/5;
        text-align: center;
        padding: 20px 10px;
        position:sticky;
    }
    
    nav ul{
    margin: 0px;
        height:100%;
    }
    
    nav ul li a{
        font-weight: bold;
        font-size:11px;
        
    }
    
    nav ul li.active,
    nav ul li:hover,
    nav ul li:hover a,
    nav ul li.active a{
        background-color: #98AD6A;
        
    }
    
    
    #wrapper{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,.5)), url(Images/silver-and-black-laptop-computer-1229861.jpg);
    background-repeat: no-repeat;    
    background-size: 100% 100%;
    object-fit: cover;
    min-height: 450px;
    max-width:100%;
	margin-top:0px;
}
    
    
    .flex{
        min-height: 400px;
        align-content: flex-end;
    }
    
    .flex h1{
        padding:0px;
        margin:0px;
    }
    
    .below-content{
        display: grid;
        max-width: 1200px;
        margin:0 auto;
        grid-gap: 10px;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: "aboutus products services";
    }
    
    #button{
    width:90px;
    height:30px;
    }
    
    #aboutus{
    display: grid;
    grid-area: aboutus;
    max-width:100%;
    margin-top: 10px;
    margin-bottom: 30px;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "aboutusimg aboutusimg"
        "aboutusdesc aboutusdesc";
    }
    
    .aboutus-img{
    grid-area: aboutusimg;
        display: grid;
        margin:20px;

    }

    .aboutus-img>img{
        width: 100%;
        height: auto;
    }

    .aboutus-desc{
        grid-area: aboutusdesc;
        padding:30px 10px 0 10px;
        display: grid;
        align-content: center;
        text-align: justify;
        font-size: 1.5vw;
    }
    .aboutus-desc>h3{
        padding-bottom: 0;
        margin: 0;
        font-size:30px;
    }
    
    #products{
    display: grid;
    grid-area: products;
    max-width:100%;
    margin-top: 10px;
    margin-bottom: 30px;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "productsimg productsimg"
        "productsdesc productsdesc";
    }
    
    .products-img{
    grid-area: productsimg;
        display: grid;
        margin:20px;

    }

    .products-img>img{
        width: 100%;
        height: auto;
    }

    .products-desc{
        grid-area: productsdesc;
        padding:30px 10px 0 10px;
        display: grid;
        align-content: center;
        text-align: justify;
        font-size: 1.5vw;
    }
    .products-desc>h3{
        padding-bottom: 0;
        margin: 0;
        font-size:30px;
    }

    .products-desc>a>input{
        cursor: pointer;
    }
    
    #services{
    display: grid;
    grid-area: services;
    max-width:100%;
    margin-top: 10px;
    margin-bottom: 39px;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "servicesimg servicesimg"
        "servicesdesc servicesdesc";
    }
    
    .services-img{
    grid-area: servicesimg;
        display: grid;
        margin:20px;

    }

    .services-img>img{
        width: 100%;
        height: auto;
    }

    .services-desc{
        grid-area: servicesdesc;
        padding:0 10px 0 10px;
        display: grid;
        align-content: center;
        text-align: justify;
        font-size: 1.5vw;
    }
    .services-desc>h3{
        padding-bottom: 0;
        margin: 0;
        font-size:30px;
    }

    .services-desc>a>input{
        cursor: pointer;
    }
    
    .partnerflex{
        height:100px;
    }
    
    .partnerflex>h1{
        font-size:6vw;
    }
    
    .partnerlogo-wrapper{
    grid-area: partnerdiv;
    width:100%;
    height:100%;  
    background:linear-gradient(rgba(0,0,.5,0.2),rgba(0,0,.5,.5)),url(Images/Partner-Background.jpg);
    background-repeat: no-repeat;    
    background-size: 100% 100%;
    object-fit: cover;
    min-height: 250px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-areas: ". partnerdiv partnerdiv partnerdiv partnerdiv partnerdiv partnerdiv .";
    padding-top: 40px;
    }

    
    .partner-box{
    display: grid;
    max-height:200px;
    max-width: 800px;
    background-color: white;
    align-content: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "partnersimg partnersdesc partnersdesc";
    }

    .partner-logo{
        grid-area: partnersimg;
        padding-top:40px;
    }

    .partner-logo>img{
        height: 100px;
        width: 200px;
    }

    .partner-desc{
        grid-area: partnersdesc;
        font-size:1.5vw;
    }
	
	@media only screen and (min-height:10px){
    header{
        position: initial;
        top:0;
		z-index: 1;
		
    }
    

}


/*mobile view*/
/*mobile view*/
@media screen and (max-width:714px){
    
   .logo{
        grid-column: 1/2;
        text-align: left;
		margin-left: 15%;
    }
    
    
    nav{
        grid-column: 1/5;
        text-align: right;
        display: none;
    }
    
	
    
    nav ul li{
        display: block;
        padding:10px 5px;
    }
    
    nav ul li a{
        font-weight:none;
		display: block;
    }
    
    nav ul li.active,
    nav ul li:hover{
        color:white;
        background-color: #98AD6A;
    }
    
   
    
    .menu-toggle{
        display: inline-block;
        height: 20px;
        margin: 10px 10px 20px 10px;
        padding: 5px 5px;
        color:white;
        font-size: 35px;
        grid-column: 4/5;
        text-align: right;
        
    }
	
	#wrapper{
    background:none; 
    background-size: 100% 100%;
    object-fit: cover;
    max-height: 100%;
    max-width:100%;
    min-height: 300px; 
	}
    
   
    .flex{
        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,.5)), url(Images/silver-and-black-laptop-computer-1229861.jpg); 
        background-size: 100% 100%;
            object-fit: cover;
        min-height: 300px;    
    }
    
	.flex h1{
    color:white;
    font-family: 'Kanit';
    font-size:45px;
    margin:0;
	opacity:0.9;
	}
	
	.flex h3{
		font-size:15px;
		opacity:0.9;
	}

     .below-content{
        display: grid;
        max-width: 1200px;
        margin:0 auto;
        grid-gap: 10px;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: "aboutus aboutus aboutus"
            "products products products"
            "services services services";
    }
    
    .aboutus-desc{
        grid-area: aboutusdesc;
        padding:0 10px 0 10px;
        display: grid;
        align-content: center;
        text-align:justify;
        font-size: 3vw;
    }
    
    .aboutus-desc>h3{
        text-align: center;
    }
    
    .aboutus-desc>a{
        text-align: center;
    }
    
     .products-desc{
        grid-area: productsdesc;
        padding:0 10px 0 10px;
        display: grid;
        align-content: center;
        text-align:justify;
        font-size: 3vw;
    }
    
    .products-desc>h3{
        text-align: center;
    }
    
    .products-desc>a{
        text-align: center;
    }
    
     .services-desc{
        grid-area: servicesdesc;
        padding:0 10px 0 10px;
        display: grid;
        align-content: center;
        text-align:justify;
        font-size: 3vw;
    }
    
    .services-desc>h3{
        text-align: center;
    }
    .services-desc>a{
        text-align: center;
    }
    
    #button{
    width:150px;
    height:50px;
    }
    
    .partnerlogo-wrapper{
    grid-area: partnerdiv;
    width:100%;
    height:100%;  
    background:linear-gradient(rgba(0,0,.5,0.2),rgba(0,0,.5,.5)),url(Images/Partner-Background.jpg);
    background-repeat: no-repeat;    
    background-size: 100% 100%;
    object-fit: cover;
    min-height: 350px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas: ". partnerdiv partnerdiv partnerdiv partnerdiv .";
    padding-top: 40px;
    }
    
    .partner-box{
    display: grid;
    max-height:300px;
    max-width: 600px;
    background-color: white;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: ". partnersimg ."
        "partnersdesc partnersdesc partnersdesc";
    }

    .partner-logo{
        grid-area: partnersimg;
        padding-top:40px;
        display: grid;
        align-content: center;
    }

    .partner-logo>img{
        max-height: auto;
        max-width: 150px;
    }

    .partner-desc{
        grid-area: partnersdesc;
        font-size:1.75vw;
    }
}



