body{
    margin: 0px;
    padding:0px;
    font-family: sans-serif;
}

header{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% auto;
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper{
    background:linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.5)), url(Images/silver-and-black-laptop-computer-1229861.jpg);
    background-repeat: no-repeat;    
    background-size: 100% 100%;
    object-fit: cover;
    max-height: 100%;
    max-width:100%;
}



nav{
    margin-right: 10px;
}

nav ul{
    margin: 30px 0px 0px 10px;
}

nav ul li{
    display: inline;
    list-style-type: none;
    padding:20px 10px;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold; 
    color:white;    
    font-size: 1.25vw;
}

nav ul li.active,
nav ul li:hover{
     background-color: #98AD6A;
}
.menu-toggle{
    display: none;
}

.flex{
    min-height: 600px;
    display: grid;
    align-content:flex-end;
    text-align: center;
}

.flex h1{
    color:white;
    font-family: 'Kanit';
    font-size:40px;
    margin-bottom: 40px;
}

.flex h3{
    color:white;
    margin-bottom: 30px;
}

.below-content{
    max-width: 1200px;
    margin:0px auto;
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "aboutus products services";
}

.box-aboutus{
    grid-area: aboutus;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    box-sizing: border-box;
    padding: 15px 15px;
}
.box-aboutus>i{
    font-size: 50px;
}

.box-aboutus>p{
    font-family: "Oxygen";
    text-align: justify;
}

.box-aboutus a{
    font-family: "Oxygen";
    text-decoration: none;
    font-weight: bold;
    color:black;
    align-content: flex-end;
    text-align: center;
}

.box-products{
    grid-area: products;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-top-left-radius: 10px;
    padding: 15px 15px;
}
.box-products>i{
    font-size: 50px;
}

.box-products>p{
    font-family: "Oxygen";
    text-align: justify;
}

.box-products a{
    font-family: "Oxygen";
    text-decoration: none;
    font-weight: bold;
    color:black;
    align-content: flex-end;
    text-align: center;
}

.box-services{
    grid-area: services;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    padding: 15px 15px;
}
.box-services>i{
    font-size: 50px;
}

.box-services>p{
    font-family: "Oxygen";
    text-align: justify;
}

.box-services a{
    font-family: "Oxygen";
    text-decoration: none;
    font-weight: bold;
    color:black;
    align-content: flex-end;
    text-align: center;
    
}


.copyright{
    font-family: oxygen;
    font-size:16px; 
    padding:5px 20px;
    text-align: right;
    background-color: black;
    color:white;
}

/* tablet view */
@media screen and (max-width:950px){
    .logo{
        grid-column: 1/5;
        text-align: center;
    }
    
    .below-content{
        grid-template-areas: "aboutus products services"
           
    }
    
    .wrapper{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,.5)), url(Images/silver-and-black-laptop-computer-1229861.jpg);
    background-repeat: no-repeat;    
    background-size: 100% 100%;
    object-fit: cover;
    max-height: 100%;
    max-width:100%;
}
    
    nav{
        grid-column: 1/5;
        text-align: center;
        padding: 20px 10px;
    }
    
    nav ul{
    margin: 0px;
        height:100%;
    }
    
    nav ul li a{
        color:white;
        font-weight: bold;
        
    }
    
    nav ul li.active,
    nav ul li:hover{
        background-color: #98AD6A;
    }
    .flex{
        min-height: 400px;
        align-content: flex-end;
    }
    
    .flex h1{
        padding:0px;
        margin:0px;
    }
    
    .box-aboutus>p{
    font-size:14px;
    text-align: justify;
    }
    
    .box-aboutus a{
        align-content: flex-end;
    text-align: center;
    }
    
    .box-products>p{
    font-size:14px;
    text-align: justify;
    }
    
    .box-products a{
        align-content: flex-end;
    text-align: center;
    }

    .box-services>p{
    font-size:14px;
    text-align: justify;
    }
    
    .box-services a{
        align-content: flex-end;
    text-align: center;
    }
    

    
}

/*mobile view*/
@media screen and (max-width:714px){
    
    .logo{
        grid-column: 1/2;
        text-align: left;
    }
    
    .wrapper{
    background:none; 
    background-size: 100% 100%;
    object-fit: cover;
    max-height: 100%;
    max-width:100%;
    min-height: 300px;    
}
    
    nav{
        grid-column: 1/5;
        text-align: centre;
        display: none;
    }
    
    
    nav ul li{
        display: block;
        padding:10px 20px;
    }
    
    nav ul li a{
        color:#98AD6A;
    }
    
    nav ul li.active,
    nav ul li:hover{
        color:white;
        background-color: #98AD6A;
    }
    
    nav ul li a.active,
    nav ul li a:hover{
        color:white;
    }
    
    .menu-toggle{
        display: inline-block;
        height: 20px;
        margin: 20px 0px 20px 20px;
        padding: 5px 5px;
        color:black;
        font-size: 35px;
        grid-column: 4/5;
        text-align: right;
        
    }
    
   
    .flex{
        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,.5)), url(Images/silver-and-black-laptop-computer-1229861.jpg); 
        background-size: 100% 100%;
            object-fit: cover;
        min-height: 300px;
        
        
    }
    
    .below-content{
        margin-top: 0px;
        grid-gap: 5px;
        max-width: 600px;
        grid-template-areas: "aboutus aboutus aboutus"
            "products products products"
            "services services services"
    }
    
    .box-aboutus{
        padding: 20px 20px 20px 20px;
    }
    
    .box-products{
        padding: 20px 20px 20px 20px;
    }
    
    .box-services{
        padding: 20px 20px 20px 20px;
    }
}